*,
*::after,
*::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;}

   
h1{
  cursor: pointer;
  font-size: 20vw;
  color: transparent;
  background:url(https://i.postimg.cc/zXdg1nHp/textbg.jpg);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
}
.picture2{
  height: 90%;
  width: 95%;
}
.picture3{
  height: 90%;
  width: 95%;
}
.nasa{
  height: 200px ;
}
#home h1 {
  text-align: center;
  animation: 2s title infinite;
}
@keyframes title {
  0% {
      opacity: 0;
      transform: rotateX(90def);
  }
  50% {
      opacity: 1;
      transform: rotateX(720deg);
  }
  100% {
      opacity: 1;
      transform: rotateX(720deg);
  }
}
white_check_mark
eyes
raised_hands








